body {
  margin: 0px;
}

:root {
  --brandColor: #5082e6;
  --whiteBasic: #ffffff;
  --shadowButtonColor: rgba(23, 65, 152, 0.2);
  --shadowButtonColorSecondary: rgba(255, 255, 255, 0.2);
  --activeButtonGradient: linear-gradient(to bottom, #3f6fdf, #5c91e8);
  --fontColor: #525866;
  --activeBorderColor: #cfd6e5;
  --shadowColor: rgba(207, 214, 229, 0.4);
  --activeBorderColor: #cfd6e5;
  --activeInputColor: rgba(207, 214, 229, 0.6);
  --focusShadowInput: rgba(80, 130, 230, 0.2);
  --errorColor: #ed5645;
  --disabledButtonColor: rgba(255, 255, 255, 0.5);
  --disabledBgButtonColor: rgba(175, 181, 196, 0.8);
}
